.contact{
    width:70vw;
    height:400px;
    margin-top:50px;
    margin-left:50px;
    margin-bottom:50px;
}

.contact p{
    margin-left:10px;
    text-align:left;
}
.contact ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding-inline-start: 40px;
}

.contact li{
    line-height: 20px;
    color:#333;
    margin-left:20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding-inline-start: 40px;

}

