@keyframes show{
	0% { opacity: 0; transform: translateY(-300px); }
	100% { opacity: 1; transform: translateY(0); }
}

@keyframes hide{
	0% { opacity: 1; transform: translateY(0);}
	100% { opacity: 0; transform: translateY(600px);}
}
.profile{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;	
	height: 750px;
	width: 100%;
	z-index: 2;
	background-color: #fff;
	animation: show 0.5s;
/*	transition: 0.6s cubic-bezier(.7,0,.3,1);*/
}
.profileHide{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;	
	opacity: 0;
	height: 750px;
	width: 100%;
	z-index: 1;
	transform: translateY(100px);
	opacity: 0;
	transition: 0.1s;
	background-color: #fff;
/*	transition: 0.5s cubic-bezier(.7,0,.3,1);	*/
}
.history{
	width: 800px;
	max-width: 100%;
	height: auto;
	margin: auto;
	margin-top: 50px;
	padding:2%;
    box-shadow: 0 0 2em rgba(0,0,0,0.2);
}
h2{
	margin: auto;
	padding:0;
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}
h3{
	font-size: 18px;
}
h3:nth-child(2){
	font-size: 15px;
}
h3:nth-child(3){
	margin-top: 20px;
}

.records{
	height: 350px;
	overflow-y: auto;
}

.result{
	width: 800px;
	max-width: 90%;
	height: auto;
	margin: auto;
	margin-top: 50px;
  box-shadow: 0 0 2em rgba(0,0,0,0.2);
}
.record{
	margin-top: 10px;
}
.record .item div{
	display:inline-block;
}

.record .item div:nth-child(1){
	width: 300px;
}

.record .item div span{
	margin-left: 20px;
	color: #0087f7;
	cursor: pointer;
    transition: all .2s;
}
.record .item div span:hover{
	color: #87e2ff;
}