@keyframes show{
	0% { opacity: 0; transform: translateY(-300px); }
	100% { opacity: 1; transform: translateY(0); }
}

@keyframes hide{
	0% { opacity: 1; transform: translateY(0);}
	100% { opacity: 0; transform: translateY(600px);}
}


.history{
	width: 800px;
	max-width: 100%;
	height: auto;
	margin: auto;
	margin-top: 10px;
	padding:2%;
    box-shadow: 0 0 2em rgba(0,0,0,0.2);
}
h2{
	margin: auto;
	text-align: center;
	font-size: 18px;
}
h3{
	font-size: 18px;
}
h3:nth-child(2){
	font-size: 15px;
}
h3:nth-child(3){
	margin-top: 20px;
}

.records{
	height: 420px;
	overflow-y: auto;
}

.result{
	width: 800px;
	max-width: 90%;
	height: auto;
	margin: auto;
	margin-top: 50px;
  box-shadow: 0 0 2em rgba(0,0,0,0.2);
}
.record{
	margin-top: 10px;
}
.record .item div{
	display:inline-block;
}

.record .item div:nth-child(1){
	width: 220px;
}

.record .item div:nth-child(2){
	width: 110px;
}

.record .item div:nth-child(3){
	width: 130px;
}

.record .item .completed
{
    color: green;
}

.record .item .uncompleted
{
    
    color:red
}

.record .item div span{
	margin-left: 20px;
	color: #0087f7;
	cursor: pointer;
    transition: all .2s;
}
.record .item div span:hover{
	color: #87e2ff;
}